body {
  font-family: Arial, sans-serif;
  background-color: rgb(167, 167, 177); /* Warna dasar latar belakang */
  color: rgb(17, 17, 16); /* Warna teks */
}

h2 {
  margin-bottom: 30px;
}

section {
  padding: 65px 0;
  scroll-margin-top: 65px;
}
/*Section About*/
.large-image {
  display: block; /* Memastikan gambar ditampilkan sebagai blok */
  margin: 0 auto; /* Untuk membuat gambar berada di tengah */
}
.position-relative::before {
  content: "";
  position: absolute;
  top: 1%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-image: url("img/bgdp.jpeg"); /* Ganti dengan path gambar yang Anda inginkan */
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.8; /* Sesuaikan opacity sesuai kebutuhan */
  border-radius: 50%; /* Untuk bentuk bulat */
}

.icon-links {
  display: flex;
  justify-content: center; /* Menengahkan secara horizontal */
  align-items: center; /* Menengahkan secara vertikal */
  margin-top: 20px; /* Jarak dari elemen di atasnya */
}

.icon-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px; /* Ukuran lingkaran */
  height: 60px; /* Ukuran lingkaran */
  border-radius: 50%; /* Membuat lingkaran */
  background-color: #414156; /* Warna latar belakang lingkaran */
  margin: 0 30px; /* Jarak antara ikon */
  transition: background-color 0.3s ease-in-out; /* Transisi warna latar belakang */
}

.icon-links a:hover {
  background-color: #343a40; /* Warna latar belakang saat hover */
}

.icon-links a i {
  font-size: 36px; /* Ukuran ikon */
  color: #ffffff; /* Warna ikon */
}

.icon-links a:hover i {
  color: #cccccc; /* Warna ikon saat hover */
}

/*Section Projects*/
.project-img {
  cursor: pointer; /* Kursor berubah menjadi pointer saat dihover */
}

/* Overlay pop-up deskripsi */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1001;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 6px 20px rgba(0, 0, 0, 0.4);
}

.overlay .text {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  text-align: center;
  overflow-y: auto;
  max-height: 70vh;
}

.overlay .text h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.overlay .text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.overlay .text .close-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.project-img {
  width: 400px;
  height: 200px;
  border: 2px solid #ccc; /* Border dengan warna abu-abu */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 6px 20px rgba(0, 0, 0, 0.4);
  border-radius: 10px; /* Radius sudut */
}

/*Navbar Custom*/
.navbar-brand {
  font-weight: bold;
}
.custom-navbar {
  background-color: #414156;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 6px 20px rgba(0, 0, 0, 0.4);
}
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #ffffff;
}
.custom-navbar .nav-link:hover {
  color: #cccccc;
}

/*Footer Custom*/
.custom-footer {
  background-color: #343a40;
  color: #ffffff;
}
.custom-footer a {
  color: #ffffff;
  text-decoration: none;
}
.custom-footer a:hover {
  color: #cccccc;
}
.custom-footer .fab {
  margin-right: 10px;
}
